.App {
	text-align: center;
	display: flex;
	width: 100vw;
	height: 100vh;
	background: beige;
}

.bird {
	background: rosybrown;
	height: 50px;
	width: 50px;
	border-radius: 15px;
	margin-left: 50px;
	z-index: 2;
}

.pipes {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: absolute;
	z-index: 1;
}

.pipe {
	min-width: 75px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: absolute;
}

.pipeBorder {
	background: darkseagreen;
}

.pipeMiddle {
	height: 200px;
}

.score {
	position: absolute;
	width: 100vw;
	height: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	z-index: 3;
	font-family: sans-serif;
}

.yourScore {
	color: rosybrown;
	font-weight: 100;
}

.scoreNumber {
	font-size: xxx-large;
	color: rosybrown;
	font-weight: 600;
}
